<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="static/estilos.css" />
</head>
<body>
    <form method="POST">
            {% csrf_token %}
        <h2> Acesso </h2>

        <br>

        <label for="usuario"> Usuário: </label>
        <input type="text" id="usuario" name="usuario" accept="[az]">
        
        <br>
        <br>
        
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name"senha">

        <br></br>
        <button type="submit"> Enviar dados</button>
    </form>  
</body>
</html>